.tableNode {
  width: 250px;
  border: 0;
}
.tableHeader {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nodeItem {
  cursor: default !important;
  margin: 3px;
  background: #202459;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 0px !important;
  width: calc(100% - 4px);
  .time {
    background-color: #ffffff;
    color: #202459;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    min-width: 50px;
  }
  .name {
    padding: 4px 8px;
    color: #ffffff;
  }
}
.nodeItemBorder {
  margin-bottom: 6px;
}
.tableBigContainer {
  margin: 0px;
  width: calc(100% - 40px);
  overflow-x: scroll;
}
@media screen and (min-width: 1080px) {
  .tableContainer {
    width: 100%;
    margin: 0;
  }
  .tableBigContainer {
    margin: 0px;
    overflow: visible;
  }
  .tableNode {
    width: 20%;
  }
  .tableHeader {
    width: 20%;
  }
}
